h2{
    text-align: center;
}

table th{
    text-align: center;
    background-color: rgb(163, 206, 184);
}

table td{
    text-align: center;
    background-color:rgb(209, 208, 208);
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

button{
    margin: 0 3px 0 3px;
}

.btn-danger{
    background-color: rgb(189, 122, 122);
    color: white;
}

.btn-info{
    background-color: rgb(156, 172, 187);
    color: white;
}

.btn-primary{
    background-color: rgb(147, 157, 175);
}